azure-common==1.1.28
azure-core==1.28.0
azure-eventhub==5.11.3
azure-identity==1.13.0
azure-keyvault-secrets==4.7.0
azure-storage-blob==12.17.0
azure-storage-file-datalake==12.12.0
huggingface-hub==0.16.4
SQLAlchemy==2.0.19
torch 
transformers==4.31.0